.details{
    /* background: rgb(131,253,35);
background: linear-gradient(130deg, rgba(131,253,35,1) 0%, rgba(0,121,30,1) 100%); */
background: rgb(253,188,35);
background: linear-gradient(132deg, rgba(253,188,35,1) 0%, rgba(234,113,1,1) 100%);
}